/*GENERAL STYLES*/
*{
	box-sizing: border-box;
	font-size: 16px;
}

/* body:not(nav),
.container-fluid {
  margin: 0;
  padding: 0;
} */

/* google fonts */
.dynapuff-header { /* use this for headers -  add new class if changing weight/style */
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.truculenta-body { /* use this for body -  add new class if changing weight/style */
  font-family: "Truculenta", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Modifying bootstrap component */
.container-fluid {
	padding-right: 0;
	padding-left: 0;
	margin-right: 0;
	margin-left: 0;
}
	
/* Navbar dropdown styling */
.dropdown-item {
	color: var(--clr-charcoal); /* text colour */
}

.dropdown-item:hover {
	background-color: var(--clr-air-force-blue); /* hover background colour */
	color: var(--clr-mint-cream); /* hover text colour */
}

/* Colour Scheme Darkest to Lightest */ 
:root {
    /* created variables of colours - use var(variablename) isntead of hexcode in classes - e.g. color: var(--clr-slate-gray) */
    --clr-charcoal: #243c4cff;
    --clr-charcoal-2: #2c444cff;
    --clr-air-force-blue: #5289adff;
    --clr-slate-gray: #698696ff;
    --clr-ash-gray: #acbcbfff;
    --clr-mint-cream: #f4fcfbff;
}


/*
style notes for team developers
all class names for your pages should be(to avoid overwritting others css code): pageNo_whateverElse  eg. p1_mainTitle
select element in css using id or classes (to avoid overwritting others css code)

use rem unit for any text size(good for responsiveness)



*/



/* RITIKA */
/* Modifying default styling! */

/* styling body with class rm */
.rm {
  /* Full viewport height and flexbox for layout + centering*/
  min-height: 100vh; /*ensures it takes at least full height of the viewport(even if content is less)*/
  display: flex; /*enables the use of flexbox*/
  justify-content: center; /*centers the content on the horizontal axis*/
  align-items: center; /*centers the content on the vertical axis*/
}
/* styling tags with class of section */
.rm .section,
.rm0 .section {
  padding: 10px; /*padding inside each section*/
  height: min-content; /*sets height to fit content*/
}
/* styling major text elements within .rm class */
.rm h1,
.rm h2,
.rm h3,
.rm p {
  /* Consistent bottom margins/spacing */
  margin-bottom: 20px;

  /* defining custom default font behavior */
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5;
}
.rm h1,
.rm h2,
.rm h3,
.rm header p {
  font-family: "DynaPuff", system-ui; /* */
  letter-spacing: 0.1rem; /*spacing between letters for better readability*/
}
.rm p,
.rm li,
.rm h1 {
  font-family: "Truculenta", sans-serif;
}
/* defining custom default styles for elemements and components */
.rm small {
  display: block; /* makes small take full width of parent element */
  color: red; /* red text for visibility of the warning displayed(as i have used the small tag for form validation used feedback) */
}
.rm header:not(.rm nav) {
  /* image contribution: <a href="https://www.freepik.com/free-photo/closeup-shot-peaceful-calming-textures-body-water_7810332.htm#fromView=keyword&page=1&position=10&uuid=3f4375fa-59e0-43be-ae66-0da32b540f98&query=Water">Image by wirestock on Freepik</a> */
  background-image: url("images/rm_water-texture-background-transparent-liquid-min.jpg"); /*background image for header section*/
  height: 100vh; /*setting header size to full viewport height */
  background-position: 100vmax; /*positioning the background image to properly fit within the viewport*/
  background-size: cover; /*ensures the image covers the entire header area*/
  background-blend-mode: multiply; /*blending mode for better visibility of text over the bacqkground image*/
}
.rm #reset,
.rm0 #reset {
  margin: 0;
  padding: 0;
}

.rm h1 {
  font-size: 5rem; /*setting large font size for main header (rem: root em - relative to root font size set in the general styles)*/
  font-weight: 900; /*boldness level emphasised for extra emphasis*/
}
.rm img {
  /*defining custom default styles for images*/
  width: 200px;
  margin: 10px;
  border-radius: 5px;
}
.rm ul {
  /*defining custom default styles for ul*/
  padding-left: 20px;
}

/*styling alternating sections for better visual separation between contents of different section*/
.rm .section:nth-child(odd) {
  background-color: var(--clr-slate-gray);
  color: var(--clr-mint-cream);
}
.rm .section:nth-child(even) {
  background-color: var(--clr-mint-cream);
  color: rgb(76, 101, 115);
}

/*styling page layout*/
.rm .textCenter,
.rm0 .textCenter {
  /*centers text*/
  text-align: center;
}
.rm .flexrow {
  /*flexbox row layout*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  padding-bottom: 25px;
}
.rm .flexcol {
  /*flexbox column layout*/
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
}
.rm .flexgap {
  /*flexbox with gap between items*/
  display: flex;
  gap: 20px;
}
.rm .flexcenter,
.rm0 .flexcenter {
  /*flexbox centered both axes*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* styling for card components*/
.rm .card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  flex: 1;
  margin: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.rm .card h3 {
  margin-bottom: 5px;
}
.rm .card h3 + p {
  color: #795742;
}

/*styling header*/
.rm .headerText {
  color: var(--clr-charcoal);
  text-align: center;
}
.rm header,
.rm0 header {
  height: 100vh;
  position: relative;
  z-index: 1;
}
.rm .navbar, .rm0 .navbar {
  z-index: 1050; /*ensures navbar stays on top of other elements*/
}
.rm .navbar-nav, .rm .dropdown-menu {
  background-color: var(--clr-mint-cream);
}
.rm header > div,
.rm0 header h1 {
  position: absolute;
  top: 31%;
  width: 100%;
}
.rm header h1 {
  margin-bottom: 10%;
  text-shadow: rgb(255, 255, 255) 0px 0px 3px;
}

.rm header p {
  color: #795742;
  text-shadow: rgb(255, 255, 255) 8px -1px 10px;
}

.rm header ul,
.rm0 header ul {
  list-style-type: none;
}

/* section 3 styling */
.rm .section3 > div > div {
  background-color: var(--clr-mint-cream);
  color: rgb(76, 101, 115);
}
.rm .cardContainer {
  align-items: stretch;
}

/* section 4 styling */
.rm .section4 > div {
  flex: 1;
  padding: 10px;
  align-self: flex-start;
}

.rm .section4 h2 {
  margin-bottom: 5px;
}

/* form styling */
.rm form {
  padding: 10px;
}

.rm form * {
  width: 100%;
}

.rm input[type="text"],
.rm input[type="date"],
.rm button {
  border: 1px solid #ccc;
}

.rm input,
.rm fieldset {
  padding: 10px 15px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.rm input:focus {
  /* redefining default behaviour on focus*/
  outline: none;
  box-shadow: 0 0 5px var(--clr-slate-gray);
}

.rm button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  display: block;
  transition: background-color 0.3s ease-in-out;
}

.rm button:hover {
  background-color: var(--clr-slate-gray);
}

/* defining media queries */
@media only screen and (max-width: 600px) {
  .rm .flexrow {
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    flex-grow: 1;
  }
  .rm .flexrow * {
    width: 98%;
    padding: auto;
    margin: auto;
  }
  .rm .section1 {
    flex-direction: column-reverse;
  }
}

/*styling the index page*/
.rm0 {
  background-color: rgb(142, 173, 205);
  background-image: url("images/rm_blue-background-water-ripple-texture-min.jpg");
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  font-family: "Truculenta", sans-serif;
  color: var(--clr-mint-cream);
}
.rm0 .sources {
  background-color: rgba(142, 174, 205, 0.34);
}
.rm0 nav {
  background-color: #6893bedc;
}

.rm0 header > h1,
.rm0 h2,
.rm0 h5 {
  color: var(--clr-mint-cream);
}

.rm0 .homeGrid {
  margin: 35px;
}

.rm0 header {
  height: 75vh;
}
.rm0 h1 {
  margin-top: 8%;
}
.rm0 h1,
.rm0 h2,
.rm0 h5 {
  font-family: "DynaPuff", system-ui;
}
.rm0 li {
  color: var(--clr-mint-cream);
}

.rm0:not(nav) {
  box-sizing: border-box;
}
.rm0 .homeGrid {
  padding-bottom: 20px;
}
.rm0 .homeGrid .card {
  margin-bottom: 10px;
  background-color: rgba(142, 174, 205, 0.34);
  color: var(--clr-mint-cream);
}
.rm0 .card a {
  color: var(--clr-mint-cream);
}
