/* RITIKA */
/*GENERAL STYLES*/
* {
  box-sizing: border-box;
  font-size: 16px;
}

/* google fonts */
.dynapuff-header {
  /* use this for headers -  add new class if changing weight/style */
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.truculenta-body {
  /* use this for body -  add new class if changing weight/style */
  font-family: "Truculenta", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* Colour Scheme Darkest to Lightest */
:root {
  /* created variables of colours - use var(variablename) isntead of hexcode in classes - e.g. color: var(--clr-slate-gray) */
  --clr-charcoal: #243c4cff;
  --clr-charcoal-2: #2c444cff;
  --clr-air-force-blue: #5289adff;
  --clr-slate-gray: #698696ff;
  --clr-ash-gray: #acbcbfff;
  --clr-mint-cream: #f4fcfbff;
}

/* Modifying default styling */
.rm .pagewrapper:not(nav) * {
  /* for predictable sizing */
  box-sizing: border-box;
  /* Removes all default browser margin and padding */
  margin: 0;
  padding: 0;
}

/* styling body with class rm */
.rm {
  /* Full viewport height and flexbox for layout + centering*/
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rm section,
.rm0 section {
  padding: 10px;
  height: min-content;
}

.rm h1,
.rm h2,
.rm h3,
.rm p {
  /* Consistent bottom margins/spacing */
  margin-bottom: 20px;

  /* Ensure default font behavior */
  font-size: 1rem; /* Adjust as needed */
  font-weight: bold;
  line-height: 1.5;
}

.rm h1,
.rm h2,
.rm h3,
.rm header p {
  font-family: "DynaPuff", system-ui;
  letter-spacing: 0.1rem;
}

.rm p,
.rm li,
.rm h1 {
  font-family: "Truculenta", sans-serif;
}

.rm small {
  display: block;
  color: red;
}

.rm header:not(.rm nav) {
  /* image contribution: <a href="https://www.freepik.com/free-photo/closeup-shot-peaceful-calming-textures-body-water_7810332.htm#fromView=keyword&page=1&position=10&uuid=3f4375fa-59e0-43be-ae66-0da32b540f98&query=Water">Image by wirestock on Freepik</a> */
  background-image: url("media/rm_water-texture-background-transparent-liquid.jpg");
  height: 100vh;
  background-position: 100vmax;
  background-size: cover;
}

.rm section:nth-child(even) {
  background-color: var(--clr-slate-gray);
  color: var(--clr-mint-cream);
}

.rm section:nth-child(odd) {
  background-color: var(--clr-mint-cream);
  color: rgb(76, 101, 115);
}

.rm h1 {
  font-size: 5rem;
  font-weight: 900;
}

.rm img {
  width: 200px;
  margin: 10px;
  border-radius: 5px;
}

.rm ul {
  padding-left: 20px;
}

/*styling page layout*/
.rm .textCenter,
.rm0 .textCenter {
  text-align: center;
}

.rm .flexrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  padding-bottom: 25px;
}

.rm .flexcol {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
}

.rm .flexgap {
  display: flex;
  gap: 20px;
}

.rm .flexcenter,
.rm0 .flexcenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rm .card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  flex: 1;
  margin: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.rm .card h3 {
  margin-bottom: 5px;
}
.rm .card h3 + p {
  color: #795742;
}

/*styling header*/
.rm header {
  color: var(--clr-charcoal);
  text-align: center;
}
.rm header,
.rm0 header {
  height: 100vh;
  position: relative;
}
.rm header > div,
.rm0 header h1 {
  position: absolute;
  top: 31%;
  width: 100%;
}
.rm header h1 {
  margin-bottom: 10%;
  text-shadow: rgb(255, 255, 255) 0px 0px 3px;
}

.rm header p {
  color: #795742;
  text-shadow: rgb(255, 255, 255) 8px -1px 10px;
}

.rm header ul,
.rm0 header ul {
  list-style-type: none;
}

/* section 3 styling */
.rm .section3 > div > div {
  background-color: var(--clr-mint-cream);
  color: rgb(76, 101, 115);
}
.rm .cardContainer {
  align-items: stretch;
}

/* section 4 styling */
.rm .section4 > div {
  flex: 1;
  padding: 10px;
  align-self: flex-start;
}

.rm .section4 h2 {
  margin-bottom: 5px;
}

/* form styling */
.rm form {
  padding: 10px;
}

.rm form * {
  width: 100%;
}

.rm input[type="text"],
.rm input[type="date"],
.rm button {
  border: 1px solid #ccc;
}

.rm input,
.rm fieldset {
  padding: 10px 15px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.rm input:focus {
  /* redefining default behaviour on focus*/
  outline: none;
  box-shadow: 0 0 5px var(--clr-slate-gray);
}

.rm button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  display: block;
  transition: background-color 0.3s ease-in-out;
}

.rm button:hover {
  background-color: var(--clr-slate-gray);
}

/* defining media queries */
@media only screen and (max-width: 600px) {
  .rm .flexrow {
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    flex-grow: 1;
  }
  .rm .flexrow * {
    width: 98%;
    padding: auto;
    margin: auto;
  }
  .rm .section1 {
    flex-direction: column-reverse;
  }
}

/*styling the index page*/
.rm0 {
  background-color: rgb(142, 173, 205);
  background-image: url("rm_media/blue-background-water-ripple-texture.jpg");
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  font-family: "Truculenta", sans-serif;
  color: var(--clr-mint-cream);
}
.rm0 .sources {
  background-color: rgba(142, 174, 205, 0.34);
}

.rm0 header > h1,
.rm0 h2,
.rm0 h5 {
  color: var(--clr-mint-cream);
}

.rm0 .homeGrid {
  margin: 35px;
}

.rm0 header {
  height: 75vh;
}
.rm0 h1 {
  margin-top: 8%;
}
.rm0 h1,
.rm0 h2,
.rm0 h5 {
  font-family: "DynaPuff", system-ui;
}
.rm0 li {
  color: var(--clr-mint-cream);
}

.rm0:not(nav) {
  box-sizing: border-box;
}
.rm0 .homeGrid {
  padding-bottom: 20px;
}
.rm0 .homeGrid .card {
  margin-bottom: 10px;
  background-color: rgba(142, 174, 205, 0.34);
  color: var(--clr-mint-cream);
}
.rm0 .card a {
  color: var(--clr-mint-cream);
}
