/* Modifying default styling */
.rm * {
  /* for predictable sizing */
  box-sizing: border-box;
  /* Removes all default browser margin and padding */
  margin: 0;
  padding: 0;
}


/* styling body with class rm */
.rm {
  /* Full viewport height and flexbox for layout + centering*/
  min-height: 100vh;
  padding: 1px;
  display: flex;
  justify-content: center;
  align-items: center
  /* default colors and typography */
  background-color: ;
  color: ;
  font-family: ;
}

.rm h1,.rm h2,.rm h3,.rm p {
    /* Consistent bottom margins/spacing */
    margin-bottom: 20px; 

    /* Ensure default font behavior */
    font-size: 1rem; /* Adjust as needed */
    line-height: 1.5;
}

.rm p {
    color: ;
}

.rm img {
  min-width: 50%;
  margin: 10px;
  border-radius: 5px;
}

.rm ul {
  list-style-type: disc;
  padding-left: 20px;
}

/*styling page layout*/
.rm .textCenter {
  text-align: center;
}

.rm .flexrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 25px;
}

.rm .flexcol {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
}

.rm .flexgap {
  display: flex;
  gap: 20px;
}

.rm .flexcenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rm .card {
  border: 1px solid #ccc; 
  border-radius: 8px; 
  padding: 15px; 
  flex: 1; 
  margin: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.rm .card h3 {
  margin-bottom: 5px;
}

/* styling header */
.rm header {
  height: 200px;
}


/* section 4 styling */
.rm .section4 > div {
  flex: 1;
  margin: 10px;
  align-self: flex-start;
}

.rm .section4 h2 {
  margin-bottom: 5px;
}

/* form styling */
.rm form{
  display: flex;
  flex-direction: column;
}
.rm input[type="text"],
.rm input[type="date"],
.rm input[type="radio"],
.rm button {
    border: 1px solid #ccc; 
}

.rm input:not(input[type="radio"]),
.rm fieldset {
    padding: 10px 15px; 
    border-radius: 5px; 
    margin-bottom: 15px; 
}

.rm input:focus {
  /* redefining default behaviour on focus*/
    outline: none; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.rm button {
    /* Core button appearance and spacing */
    padding: 10px 20px;
    border: none; /* Removes default button border */
    border-radius: 8px;
    cursor: pointer; /* Provides visual feedback that the element is clickable */
    font-weight: bold;
    display: block; /* Can be useful to make button take full available width */
}

.rm button:hover {
    background-color: #0056b3;
}

/* defining media queries */
@media only screen and (max-width: 600px) {
  .rm .flexrow {
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    flex-grow: 1;
  }
  .rm .flexrow * {
    width: 100%;
    align-self: center;
    padding: auto;
    margin: auto;
  }
}